---
title: List of environments
last_reviewed_on: 2024-03-27
review_in: 3 months
---

# <%= current_page.data.title %>

We have 3 DataHub environments:

1. Dev (not guaranteed to be stable. Used for testing modifications to deployment)
2. Test (relatively stable, will be kept up to date as needed for user testing)
3. Pre-production ('Preprod', most stable, most out of date)

<div class="govuk-inset-text">
  <p>At least during alpha, all of these should be populated from the same sources of metadata, so that research participants are working with a catalogue that is as realistic as possible.</p>
  <p>
  This means there should be nothing important in our pre-production catalogue that is not also in the dev & test catalogues (including metadata from the production analytical platform).
  </p>
</div>
