---
  name: Build and Test
  on:
    pull_request:
      branches:
        - main

  permissions: {}
  jobs:
    build:
      name: Build
      runs-on: ubuntu-latest
      container:
        image: docker.io/ministryofjustice/tech-docs-github-pages-publisher@sha256:cd3513beca3fcaf5dd34cbe81a33b3ff30337d8ada5869b40a6454c21d6f7684 # v4.0.0
      permissions:
        contents: read
      steps:
        - name: Checkout
          id: checkout
          uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
        - name: Build
          id: build
          run: |
            /usr/local/bin/package

    test:
      name: Test
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - name: Checkout
          id: checkout
          uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
        - name: Lychee
          id: lychee
          uses: lycheeverse/lychee-action@c053181aa0c3d17606addfe97a9075a32723548a # v1.9.3
          with:
            args: --verbose --no-progress './**/*.md' './**/*.html' './**/*.erb' --exclude-loopback --accept 403,200,429
            fail: true