# Need a GitHub Advanced Security license to run this action on private repos.

name: Dependency Review
on:
  pull_request:
    branches:
      - main
    types: 
      - opened 
      - edited
      - reopened
      - synchronize

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Dependency Review
        uses: actions/dependency-review-action@72eb03d02c7872a771aacd928f3123ac62ad6d3a # v4.3.3
        with:
          # Possible values: critical, high, moderate, low
          fail-on-severity: critical
